@model Ruby.Models.Server

@{
    ViewBag.Title = "Server Details";
}

<h2>Details</h2>

<div>
    <h4>Server</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServerImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServerName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ServerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
